* { box-sizing: border-box; }
body {
  background-color: #000;
  color: #fff;
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}
.container { width: 100%; }
.landforms {
  padding: 40px 0 20px;
  max-width: 90%;
  margin: 0 auto;
  position: relative;
}
.landforms:before,
.landforms:after {
  clear: both;
  content: " ";
  display: table;
}
.landforms .landform {
  width: 25%;
  margin-bottom: 20px;
  display: table;
  float: left;
  border-left: 20px solid transparent;
  cursor: pointer;
}
.landforms .landform .avatar {
  width: 100%;
  display: block;
  text-align: center;
  height: 250px;
}
.landforms .landform .avatar img {
  border: 10px solid #9ba2b2;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 250px;
}
.landforms .landform.active .avatar img { border-color: #ddd; }
.landforms .landform .name {
  width: 100%;
  display: block;
  text-align: center;
  font-family: "Century Gothic";
  color: #9ba2b2;
  font-size: 22px;
  padding: 10px 0 5px;
}
.landforms .landform .js-description { display: none; }
@media screen and (max-width: 700px) {
.landforms .landform { width: 50%; }
}
@media screen and (max-width: 400px) {
.landforms .landform {
  width: 100%;
  border-left: medium none;
}
}
.landforms .js-dropdown {
  background-clip: padding-box !important;
  border: 0 solid transparent;
  box-sizing: border-box;
  float: left;
  padding: 0;
  margin: 40px 0 20px;
  width: 100%;
  display: table;
  border-color: transparent;
  border-image: none;
  border-style: solid;
  border-width: 0 0 10px 20px;
}
.landforms .js-dropdown:before,
.landforms .js-dropdown:after {
  clear: both;
  content: " ";
  display: table;
}
@media screen and (max-width: 400px) {
.landforms .js-dropdown { border-left: medium none; }
}
.landforms .js-dropdown .js-dropdown-content {
  background: none repeat scroll 0 0 #fff;
  border: 3px solid #E5E5E5;
  color: #333333;
  position: relative;
  width: 100%;
  padding: 48px 32px 0;
}
.landforms .js-dropdown .js-dropdown-content .js-dropdown-arrow {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -55px;
  border: 30px solid transparent;
  border-bottom-color: #E5E5E5;
  pointer-events: none;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
}
.landforms .js-dropdown .js-dropdown-content p {
  line-height: 26px;
  margin: 0 0 40px;
  padding: 0;
  font-size: 16px;
  text-align: justify;
  font-family: "Century Gothic";
}

.return{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 2%;
    left: 25px;
    overflow: hidden;
    cursor: pointer;
    z-index: 100;
  }
  .return img{
    width: 30px;
  }

.charts {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 2%;
    right: 25px;
    overflow: hidden;
    cursor: pointer;
    z-index: 100;
}

    .charts img {
        width: 30px;
    }