html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.banner{
  height: 100%;
}
.accordian{
    width:100%;
    height: 100%;
    background-color: #333;
    overflow: hidden;
  }
 .accordian ul{
     width: 100%;
     height: 100%;
     margin:0 auto;
     box-sizing: border-box;
     padding: 0;
     display: table;
     table-layout: fixed;
 }
  .accordian ul li{
    display: table-cell;
    vertical-align: bottom;
    box-sizing: border-box;
    /* float: left; */
    list-style:none;
    width:19.95%;
    height: 100vh;
    transition:all 3s;
    position:relative;
    overflow:hidden;
    /* border-left:2px solid rgba(255,255,255,.8); */
    box-shadow:0px 0px 20px rgba(0,0,0,0.8);
    -webkit-filter:brightness(50%);
    filter:brightness(50%);
  }

  .accordian li img{
    height: 100%;
  }

  .accordian ul:hover li {
    width: 10%;
  }
  .accordian ul li:hover{
    width:60%;
    -webkit-filter:brightness(100%);
    filter:brightness(100%);
  }

  .accordian li .image_title{
    position:absolute;
    width:100%;
    height:50px;
    background-color:rgba(0,0,0,.5);
    text-indent:2em;
    line-height:50px;
    bottom:0px;
    left:0
  }
  .accordian p{
    color:#fff;
    text-decoration:none;
  }
