html, body {
    padding: 0;
    margin: 0;
    height: 100%;/*html标签的100%是必须的*/
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
    outline: none;
}