.vedio-recorder{
    z-index: 20;
    width: 40%;
    position: absolute;
    right: 10%;
    top: 30%;
}

.vedio-recorder video{
    width: 100%;
}

.audio-recorder{
    z-index: 20;
    width: 40%;
    position: absolute;
    right: 0%;
    top: 45%;
    height: 30px;
}